<h1> Edit your Note </h1>

<!-- Uses the  @note instance method from edit  -->

<%= form_for @note do |f| %>

  <%= label_tag(:text, "Your Note") %> </br>
  <%= f.text_area :text, :class => "form-control", cols: "30", rows: "15" %></br>

  <%= f.submit "Update", :class => "btn btn-warning" %>

<% end %>