/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS  file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
    background-color: #0F4E34;
    margin-top: -18px;

      }
#loginout {
    text-align: right;
}
div {
    padding-left: 15px;
    padding-bottom: 9px;  
}

#welcome {
    margin: 0 auto;
    padding-top: 25px;
}

#signin {
  margin-top: 60px;
    margin-left: 100px;
}

.info {
    text-align: left;
    padding-left: 20px;
    padding-top: 15px;
}
#create {
    padding-bottom: 0px;
    padding-left: 54px;
}

h1 { 
    text-align: center;
    font-size: 45px;  
    margin-top: -50px;
    }

h2 {
  padding-left: 30px;
}


#instructions {
  height: 40px;
  width: 982px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}
#instructions ul {
  list-style-type: none;
  margin: 0px;
  padding-left: 0px;
  
  
}
#instructions ul li {
  display: inline;
  margin-right: 5px;
  margin-left: 5px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
  line-height: 40px;
  border: 1px solid #333;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px #333;
  background-color: #9F26F0;
}
#instructions ul li a {
  color: #000;
  text-decoration: none;
}

#instructions li:nth-of-type(odd)
{
  position: relative;
  z-index: 1;
  top: -25px;
}
#instructions li:nth-of-type(even)
{
  position: relative;
  z-index: 1;
  top: -15px;
}

#logout {
  text-align:right;
}